[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "Makes best timetable for subways based on number of passengers each hour and  on the lines of subway "
[access "refs/*"]
	owner = group user/rgabesam
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/rgabesam
	label-Verified = -1..+1 group user/rgabesam
	push = group user/rgabesam
	read = group user/rgabesam
	rebase = group user/rgabesam
	removeReviewer = group user/rgabesam
	submit = group user/rgabesam
[access "refs/heads/*"]
	create = group user/rgabesam
	push = +force group user/rgabesam
	pushMerge = group user/rgabesam
	read = group user/rgabesam
[access "refs/tags/*"]
	push = group user/rgabesam
	push = +force group user/rgabesam
